.idea-choice {
	margin-top: 100px;
}

#idea-form span {
	float: left;
	width: 15%;
	margin-right: 3%;
	padding: 10px;
	max-width: 150px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	
}

#idea-form span input[type="radio"] {
	position: absolute;
	display: block;
	margin: 30px auto 20px;
	margin: 0 auto 20px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	background-color: white;
	z-index: 10;
}

#idea-form span label {
	display: block;
	padding-top: 100%;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: relative;
}

#idea-form span label::after {
	/*background-image: url(../img/social.svg);*/
	/*background-image: url(img/logo_sncf.png);*/
	/*background-color: beige;*/
	position: absolute;
	top: 50%;
	left: 50%;
	/*width: 100%;
	height: 100%;*/
	width: 36px;
	height: 40px;
	background-position: 50% 0%;
	background-size: 85%;
	background-repeat: no-repeat;
	content: '';
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 150px;
	height: 120px;
}

#idea-form span .application::after {
	background: url(../img/cube-application.svg) no-repeat top center;
}

#idea-form span .data::after {
	background: url(../img/cube-data.svg) no-repeat top center;
}

#idea-form span .sale::after {
	background: url(../img/cube-sale.svg) no-repeat top center;
}

#idea-form span .aftersale::after {
	background: url(../img/cube-aftersale.svg) no-repeat top center;
}

#idea-form span .network::after {
	background: url(../img/cube-network.svg) no-repeat top center;
}

#idea-form span .material::after {
	background: url(../img/cube-material.svg) no-repeat top center;
}

input[type="radio"]:hover+label {
	font-weight: bold;
	-webkit-transform: translate(0,5px);
	transform: translate(0,5px);
}

input[type="radio"]:checked+label {
	font-weight: bold;
	-webkit-transform: translate(0,-35px);
	transform: translate(0,-35px);
}

.button_next {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 80px;
}

#first_next {
	border: 1px solid white;
	color: white;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	padding: 15px 40px;
	text-decoration: none;
}


/*input[type="radio"]:checked + label, input[type="radio"]:focus + label, input[type="radio"]:hover + label {
	opacity: 0;
}*/


.suggest_area .filter_area {
	background-color: rgba(0,0,0,0.8);
}

.container_legend {
	position: relative;
	z-index: 100;
}


.form_area {
	color: white;
}

h2 {
	text-transform: uppercase;
	font-size: 2.5em;
}

h2, h3 {
	text-align: center;
	font-weight: lighter;
}

h3 {
	font-size: 1.68em;
	width: 80%;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.elements-form {
	width: 100%;
	max-width: 800px;
	height: 100px;
	margin-top: 12px;
	font-size: 1.68em;
	position: relative;
}

.elements-form textarea {
	background-color: white;
	width: 100%;
	height: 100px;
	font-size: 1.2em;
}

.idea-fill label {
	font-size: 1.2em;
	text-transform: uppercase;
}

#submit {
	position: absolute;
	top: 20%;
	right: 0px;
	width: 56px;
	height: 59px;
	cursor: pointer;
	padding: 0px 15px;
}

.bloc-form {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.quest-before {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.bloc-form p:nth-of-type(3), .bloc-form p:nth-of-type(4) {
	float: left;
}

.item-bottom {
	display: inline-block;
}

.item-bottom:nth-of-type(3) {
	position: absolute;
	right: 10px;
}




@media screen and (min-width: 1001px) {
	.form_area {
		margin-top: 15px;
	}


}

@media screen and (max-width: 1000px) {
	.form_area {
		margin-top: 120px;
	}

}